@stbcolor-primary: #DA291C;
@stbcolor-third: #819f2b;
@stbcolor-error: #a94442;
@stbcolor-gray-fourth: #a6a6a6;
@stbcolor-gray-first: #f2f2f2;
@stbcolor-nude: #e6d1b8;

@standart-indent: 24px;
@standart-font-size: 16px;
@bold-font-family: "open sans bold";

.boldText {
  font-family: @bold-font-family;
  font-size: @standart-font-size;
}

.radiobuttons {
  margin-bottom: 0 !important;
  ul li {
    list-style: none;
    display: inline-block;
  }
}

label {
  &.non-empty-view {
    max-width: none;
  }

  &.empty-view {
    padding: 0 !important;
    width: 40px;
    height: 40px;
  }
}

.checkboxes label div.within-label {
  display: inline;
}



.label-wrapper {
  label {
    display: inline;
    font-family: "open sans bold";
    font-size: 16px;

    span.sub{
      font-family: "Arial Light";
      color: grey;
      font-weight: 300;
    }
  }
  span {
    margin-left: 10px;
  }
}

//datepicker
.input-group.datePicker {
  width: 260px;

  input {
    min-width: 100px;
    background-color: white;
  }

  i.form-control-feedback {
    right: -40px;
  }

  .glyphicon-calendar {
    &:before {
      content: '';
    }
  }
}

//default
.stb-form-group {
  display: inline-block;

  &.checkboxes, &.radios {
    display: block;
  }

  &.radios-inline, &.date-picker, &.select-wrapper {
    margin-bottom: 24px;
  }

  input {
    min-width: 260px;
  }

  .form-control-feedback {
    top: 0px;
    display: block;
  }


  &.select-wrapper {
    width: 260px;
  }

}

.notification {
  .notification-wrapper {
    position: relative;
    margin-bottom: 24px;

    .msgIcon {
      position: absolute;
      display: block;
      text-align: center;
      padding: 24px;
      width: 72px;
      height: 100%;
      .info {
        margin-left: 0;
      }
    }
    .msgText {
      width: 100%;
      display: block;
      min-height: 72px;
      padding: 24px 24px 24px 96px;
      &.white {
        background: #ffffff;
      }

      p {
        margin: 0;
      }

      button.close {
        top: 5px;
        right: 11px;
        width: 100%;
        opacity: .8;
        filter: alpha(opacity=80);

        &:focus, &:hover {
          opacity: .5;
          filter: alpha(opacity=50);
        }

        .remove {
          margin-right: 10px;
        }
      }

      .message-text {
        margin-right: 8%;
        margin-top: 24px;
      }
    }
  }
}

.row.info-message-wrapper {
  padding-bottom: 0px;
  .info-message {
    margin-bottom: 0;

    .msgText {
      width: 100%;
      border-left: 1px solid black;
      padding: 0 0 0 24px;
      margin-top: 24px;
      display: block;

      p {
        margin: 0;
      }

      button.close {
        font-size: 16px !important;
        float: none;
        margin-top: 24px;
        font-family: 'Open Sans', 'Arial', 'ArialMT', sans-serif !important;


        &:focus, &:hover {
          opacity: 1 !important;
        }

        .remove {
          margin-right: 10px !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.info-button {
  margin-bottom: -3px;
  cursor: pointer;
}

.row.white-box {
  padding-bottom: 0;
  .white-box-wrapper {
    min-height: 0;
    background: #fff;
  }

  &.shown {
    .white-box-wrapper {
      margin-bottom: 24px;
      padding-top: 20px;
    }
  }

  .msgText {
    &.white {
      background: #efe8df;
    }
  }

}

form {
  .col-md-12 {
    padding-right: 24px !important; //crap from stb.ny
  }
}

.uploader {
  margin: @standart-indent/2 0;
  padding: @standart-indent/2 0;
  .filetable {
    display: table;
    margin-bottom: @standart-indent;
    .file {
      display: table-row;
      list-style: none;
      .icon, .filename, .delete, .uploaded, .upload-progress, .upload-error {
        display: table-cell;
        padding: @standart-indent/2 @standart-indent/2 0 0;
        & > span {
          margin-left: 0;
        }
      }
      .uploaded {
        color: @stbcolor-third;
      }
      .upload-progress {
        color: @stbcolor-gray-fourth;
      }
      .upload-error {
        color: @stbcolor-primary;
      }
      .filename {
        .boldText;
      }
      .delete {
        .boldText;
        color: @stbcolor-primary;
        &:hover, &:focus {
          cursor: pointer;
        }
        .remove {
          margin-right: @standart-indent/4;
          margin-bottom: -2px;
        }
      }
    }
  }
  .link {
    display: inline-block;
    text-decoration: underline;
    .boldText;
    &:hover, &:focus {
      color: @stbcolor-primary;
      cursor: pointer;
    }
  }
  .pdf, .word, .excel, .powerpoint {
    color: transparent;
  }
}

.selectContainer {
  width: 260px;
  position: relative;
}

.helpvalue {
  display: inline-block;
  margin-right: 10px;
}

.has-error {
  .form-control {
    background-color: #fff0f0;
  }
  .datePicker {
    .input-group-addon {
      background-color: @stbcolor-error;
    }
  }
}

.has-success{
  .datePicker {
    .input-group-addon {
      border-color: @stbcolor-third;
    }
  }
}

.stb-form-group {
  &.select {
    display: block;
  }
}

.command-panel {
  .stb-btn {
    margin-right: @standart-indent/2;
  }
}

@media (max-width: 767px) {

  .notification {
    .msgIcon {
      padding: 12px;
      width: 48px;
    }
    .msgText {
      min-height: 48px;
      padding: 12px 12px 12px 60px;
    }
  }

}

.action-col{
  max-width: 100px;
  min-width: 100px;
  width: 100px;
}

.stb-table{
  table-layout: fixed;
}

.stb-table-td-container{
  word-wrap: break-word;
}

.select.timepicker{
  width: 105px;
  margin-left: 10px;

  select{
    padding-right: 15px;
  }
}

option[disabled='disabled'] {
  color: #999999;
}

form .stb-form-group,
form .stb-form-group input {
  max-width: 100%;
  min-width: 100px;
}

fieldset.framed{
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 24px;
}

  /****************************************/
 /***********TABLES ADAPTIVE**************/
/****************************************/

.table-adaptive {
  min-width: 224px;
  max-width: 100%;

  .table-header {
    display: none;
  }

  .table-actions {
    width: 50%;
    float: left;
  }

  .table-content, .table-actions {
    padding: 12px 8px;
    border-bottom: 1px solid @stbcolor-nude;
  }

  .table-row {
    display: block;
    overflow: hidden;
    background-color: #FFFFFF;
  }
}

@media (min-width: 320px) {

  .table-adaptive {
    text-align: center;

    .table-content:first-child {
      font-weight: bold;
      background-color: @stbcolor-nude;
    }

  }

}

@media (min-width: 768px) {

  .table-adaptive {
    display: table;
    text-align: left;
    width: 100%;
    .table-header {
      display: table-header-group;
      background-color: @stbcolor-nude;
      font-weight: bold;
      color: #000000;
    }

    .table-body {
      display: table-row-group;
    }

    .table-row {
      display: table-row;
    }

    .table-row:nth-child(even) {
      background-color: @stbcolor-gray-first;
    }

    .table-row:nth-child(odd) {
      background-color: #FFFFFF;
    }

    .table-column-titles, .table-action-titles,
    .table-content, .table-actions {
      display: table-cell;
      vertical-align: bottom;
    }

    .table-column-titles, .table-action-titles {
      height: 72px;
      padding: 8px;
    }

    .table-content:first-child {
      font-weight: normal;
      background-color: transparent;
    }

    .table-actions {
      width: auto;
      float: none;
    }

  }

}

  /****************************************/
 /**********END TABLES ADAPTIVE***********/
/****************************************/
